In [1]:
import pandas as pd
import numpy as np

In [3]:
gps_data = pd.read_csv('../Datasets/gps_point2.csv')
edges_data = pd.read_csv('../Datasets/edges.csv')

In [4]:
gps_data.head()

,DEVICE_ID,IST_DATE,LAT,LONGITUDE,YEAR,DAY,DATE,TIME,PREV_LAT,PREV_LONGITUDE,...,length,geometry,reversed,oneway,u,v,lat_u,long_u,lat_v,long_v
0,150211826,2019-10-13 08:53:51,13.043451,77.594177,2019,6,2019-10-13,08:53:51,13.043492,77.593880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,150211826,2019-10-13 08:54:11,13.043905,77.594383,2019,6,2019-10-13,08:54:11,13.043580,77.594345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,150211826,2019-10-13 08:54:21,13.043978,77.594055,2019,6,2019-10-13,08:54:21,13.043905,77.594383,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,150211826,2019-10-13 09:14:08,13.043552,77.594284,2019,6,2019-10-13,09:14:08,13.043483,77.594017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,150211826,2019-10-13 09:14:18,13.043908,77.594345,2019,6,2019-10-13,09:14:18,13.043552,77.594284,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
gps_data.columns

Index(['DEVICE_ID', 'IST_DATE', 'LAT', 'LONGITUDE', 'YEAR', 'DAY', 'DATE',
       'TIME', 'PREV_LAT', 'PREV_LONGITUDE', 'PREV_IST_DATE', 'DISTANCE',
       'TIME_DIFF', 'SPEED', 'STOP_TIME', 'segment_id', 'index', 'osmid',
       'highway', 'length', 'geometry', 'reversed', 'oneway', 'u', 'v',
       'lat_u', 'long_u', 'lat_v', 'long_v'],
      dtype='object')

In [5]:
edges_data.head()

,osmid,highway,length,geometry,reversed,oneway,u,v,lat_u,long_u,lat_v,long_v
0,1166304119,secondary,29.724,"LINESTRING (77.5987208 12.9105419, 77.5989944 ...",False,True,17327095,305154531,12.910542,77.598721,12.910560,77.598994
1,45443685,residential,122.135,"LINESTRING (77.5793296 12.9859581, 77.5784053 ...",False,False,17327433,578121591,12.985958,77.579330,12.986587,77.578405
2,148319042,tertiary,33.303,"LINESTRING (77.5793296 12.9859581, 77.5795074 ...",False,False,17327433,10279595643,12.985958,77.579330,12.986202,77.579507
3,148319042,tertiary,84.413,"LINESTRING (77.5793296 12.9859581, 77.5792085 ...",True,False,17327433,429286716,12.985958,77.579330,12.985321,77.578905
4,23029696,secondary,107.589,"LINESTRING (77.6048004 12.970899, 77.6047617 1...",False,True,60952254,423784673,12.970899,77.604800,12.971792,77.604417

In [20]:
# number of points where speed is 0 and they have NaN values
gps_data[(gps_data['SPEED'] >= 120) & (gps_data['u'].isnull())].shape

(5295, 29)

In [10]:
gps_data.columns

Index(['DEVICE_ID', 'IST_DATE', 'LAT', 'LONGITUDE', 'YEAR', 'DAY', 'DATE',
       'TIME', 'PREV_LAT', 'PREV_LONGITUDE', 'PREV_IST_DATE', 'DISTANCE',
       'TIME_DIFF', 'SPEED', 'STOP_TIME', 'segment_id', 'index', 'osmid',
       'highway', 'length', 'geometry', 'reversed', 'oneway', 'u', 'v',
       'lat_u', 'long_u', 'lat_v', 'long_v'],
      dtype='object')

In [18]:
gps_data.SPEED.max()

179.9984827986611

In [19]:
gps_data[gps_data['SPEED'] >= 120].shape

(14106, 29)

In [21]:
gps_data = gps_data[gps_data['SPEED'] < 120]

In [24]:
gps_data.shape

(7350033, 29)

In [23]:
gps_data.dropna(inplace=True)

C:\Users\CiSTUP\AppData\Local\Temp\ipykernel_16788\415835181.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gps_data.dropna(inplace=True)

In [29]:
gps_data.segment_id.unique().shape

(46909,)

In [30]:
gps_data.osmid.unique().shape

(25128,)

In [31]:
gps_data.length.min()

1.907

In [38]:
gps_data[gps_data['length'] <=10 ]['segment_id'].unique().shape

(1272,)

In [43]:
gps_data = gps_data[gps_data['length'] > 10]

In [39]:
# calculate the hour block of the day from IST_DATE 
gps_data['hour'] = pd.to_datetime(gps_data['IST_DATE']).dt.hour

C:\Users\CiSTUP\AppData\Local\Temp\ipykernel_16788\4081802123.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gps_data['hour'] = pd.to_datetime(gps_data['IST_DATE']).dt.hour

In [44]:
gps_data.hour.value_counts()

hour
17    606375
8     576824
9     567508
18    534000
7     488572
16    448764
19    439092
10    425328
20    413901
15    410442
11    396425
6     369536
14    342479
12    313956
21    281035
13    276957
5     187588
22    102618
4      55447
23     36842
0      21720
3      18500
2      14939
1      14753
Name: count, dtype: int64

In [ ]:
# plot segment